@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./bloks/body/body.css);
@import url(./bloks/page/page.css);

@import url(./bloks/btn/btn.css);
@import url(./bloks/btn/__type/_lead/btn__type_lead.css);
@import url(./bloks/btn/__style/_lead/btn__style_ligth.css);

@import url(./bloks/list/list.css);
@import url(./bloks/list/__type/_header/list__type_header.css);

@import url(./bloks/link/link.css);
@import url(./bloks/link/__type/_header/link__type_header.css);
@import url(./bloks/link/__type/_testimonials/link__type_testimonials.css);
@import url(./bloks/link/__type/_testimonials-vertical/link__type_testimonials-vertical.css);

@import url(./bloks/img/__type/_lead-rigth/img__type_lead-rigth.css);
@import url(./bloks/img/__type/_lead-left/img__type_lead-left.css);

@import url(./bloks/title/title.css);
@import url(./bloks/title/__type/_lead/title__type_lead.css);
@import url(./bloks/title/__type/_lead-second/title__type_lead-second.css);
@import url(./bloks/title/__type/_porfolio/title__type_portfolio.css);
@import url(./bloks/title/__type/_testimonials/title__type_testimonials.css);
@import url(./bloks/title/__type/_testimonials-small/title__type_testimonials-small.css);
@import url(./bloks/title/__type/_testimonials-vertical/title__type_testimonials-vertical.css);

@import url(./bloks/subtitle/subtitle.css);
@import url(./bloks/subtitle/__type/_lead/subtitle__type_lead.css);
@import url(./bloks/subtitle/__type/_about/subtitle__type_about.css);
@import url(./bloks/subtitle/__type/_testimonials/subtitle__type_testimonials.css);
@import url(./bloks/subtitle/__type/_testimonials-small/subtitle__type_testimonials-small.css);
@import url(./bloks/subtitle/__type/_testimonials-vertical/subtitle__type_testimonials-vertical.css);

@import url(./bloks/header/header.css);

@import url(./bloks/lead/lead.css);

@import url(./bloks/portfolio/portfolio.css);
@import url(./bloks/portfolio/__group/porfolio__group.css);
@import url(./bloks/portfolio/__card/portfolio__card.css);

@import url(./bloks/about/about.css);
@import url(./bloks/about/__container/about__container.css);

@import url(./bloks/testimonials/testimonials.css);
@import url(./bloks/testimonials/__group/testimonials__group.css);
@import url(./bloks/testimonials/__description-horizontal/testimonials__description-horizontal.css);
@import url(./bloks/testimonials/__description_vertical/testimonials__description_vertical.css);
@import url(./bloks/testimonials/__type/_horizontal/testimonials__type_horizontal.css);
@import url(./bloks/testimonials/__type/_horizontal-reverse/testimonials__type_horizontal-reverse.css);
@import url(./bloks/testimonials/__type/_vertical/testimonials__type_vertical.css);



.btn__style_dark{
  background: #000000;
  width: 222px;
  height: 78px;
  border: 1.3px solid #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 21.778px;
  line-height: 26px;
  color: #FFFFFF;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 409px;
}
.title__type_contact{
  margin-left: 13px;
  margin-bottom: 25px;
}
.contact__form{
  display: flex;
  flex-direction: column;
  width: 857px;
  margin-left: 3px;
}
.contact__card{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 58px;
}
.contact__card:last-of-type{
  margin-bottom: 106px;
}
.subtitle__type_contact{
  font-weight: 400;
  font-size: 44.7477px;
  line-height: 54px;
  margin-bottom: 11px;
}
.contact__item{
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #BBBBBB;
  background: #000000;
  border: none;
  margin-bottom: 8px;
}
.contact__item_message{
  padding: 0;
  resize: none;
}
.btn__type_contact{
  width: 188px;
  height: 73px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle__type_footer{
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-right: 36px;
  margin-bottom: 24px;
}
.subtitle__type_footer-list{
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}
.list__type_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
}
